extends layout

block content
  h1 Welcome to RentEase
  p Your perfect home is just a few clicks away. Browse through our listings to find your next rental property.
  
  h2 User Journey
  ul
    li Home Page
    li Search Results
    li Listing Details
    li (Login/Register if not logged in)
    li Payment Gateway
    li Owner Dashboard
    li Profile Page